<section class="sub_page_topic">
  <h1><span>詳細</span></h1>
  <p>お題：入社初日に出会った、衝撃的な先輩プログラマーとは</p>
</section>

<section class="form">
  <p>ボケ: <%= @tweet.content %></p>
  <%= link_to 'Topページに戻ってみんなのボケをみる', tweets_path %>
</section>
