/* common parts */
html {
  min-height: 100%;
  height: 100%;
}
body {
  font-family: 'Catamaran', 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #2c2c2c;
  height: 100%;
}
.container {
  text-align: center;
  width: 100%;
  min-height: 100%;
  position: relative;
}

main {
  padding-top: 100px;
  padding-bottom: 150px;
}
header {
  min-width: 100%;
  height: 200px;
  background-image: url("bread.jpeg");
  position: relative;
}
header h1 {
  font-size: 40px;
  letter-spacing: .17em;
  color:#464646;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(135deg, #e6ba5d 0%, #9ac78a 100%);
  color: #fff;
  padding: 15px 10px 20px;
}

/* top page */
.topic {
  font-size: 20px;
  font-weight: 500;
}
.jokebox {
  padding-top: 20px;
}
table {
  margin: auto;
  border: 1px solid #6a6868;
  border-radius: 16px;
}
tr {
  padding: 10px 20px;
}
th {
  padding: 7px;
  color:#6a6868;
}
td {
  padding: 20px 30px;
}
.link_to_tweet {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}


/* subpage content */
.sub_page_topic {
  margin-bottom: 50px;
}
.sub_page_topic h1 {
  font-size: 30px;
  font-weight:700;
  letter-spacing: .17em;
  text-transform: uppercase;
}

.sub_page_topic h1 span {
  background-image: linear-gradient(135deg, #e6ba5d 0%, #9ac78a 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.form {
  margin: 0 100px;
}
.form .link_to_top {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 30px;
}
